URxvt*depth:32
URxvt*background: rgba:0000/0000/0000/2500
URxvt*shading: 85
URxvt*scrollBar: false
URxvt*font: xft:SourceCodePro-SemiBold:size=10
URxvt.internalBorder: 10
URxvt.cursorBlink: true
URxvt.cursorUnderline: true

! special
*.foreground:   #ffffff
*.background:   #000000
*.cursorColor:  #ffffff

! black
*.color0:       #190f17
*.color8:       #ffffff

! red
*.color1:       #463e45
*.color9:       #ffffff

! green
*.color2:       #190f17
*.color10:      #ffffff

! yellow
*.color3:       #ffffff
*.color11:      #463e45

! blue
*.color4:       #190f17
*.color12:      #ffffff

! magenta
*.color5:       #463e45
*.color13:      #463e45

! cyan
*.color6:       #190f17
*.color14:      #ffffff

! white
*.color7:       #ffffff
*.color15:      #ffffff
