URxvt*depth:32
URxvt*background: rgba:0000/0000/0550/2500
URxvt*shading: 85
URxvt*tintColor: #101332
URxvt*scrollBar: false
URxvt*font: xft:SourceCodePro-SemiBold:size=10

! special
*.foreground:   #19417f
*.background:   #101332
*.cursorColor:  #88a0cb

! black
*.color0:       #19417f
*.color8:       #19417f

! red
*.color1:       #88a0cb
*.color9:       #19417f

! green
*.color2:       #88a0cb
*.color10:      #19417f

! yellow
*.color3:       #19417f
*.color11:      #19417f

! blue
*.color4:       #19417f
*.color12:      #19417f

! magenta
*.color5:       #19417f
*.color13:      #19417f

! cyan
*.color6:       #19417f
*.color14:      #19417f

! white
*.color7:       #19417f
*.color15:      #88a0cb
